.song-gui-container{
	position: absolute;
	z-index: 1000;
	right:0px;
	top:0px;
	width:200px;
	background-color:#000000;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	font-family:Helvetica, Arial, sans-serif;
	color:#ffffff;
	border-left:1px solid #555555;
	border-bottom:1px solid #555555;

	a, a:visited{
		color:#ffffff;
		&:hover{
			background-color: #ffffff;
			color:#000000;
		}
	}

	.song-gui-menu{
		width:100%;
	}

	a.song-gui-item{
		display:inline-block;
		padding:5px;
		text-decoration: none;
	}

	ul.song-gui-list{
		padding:0px;
		margin:0px;
		list-style-type: none;

		li{
			text-transform: none;
			font-size:10px;
			padding:5px;

			&.inactive{
				color:rgb(100, 100, 100);
			}
			&.sortable-chosen{
				background-color:#fff;
				color:#000;
			}
		}
	}

}
