#loading{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	color:#fff;
	font-weight: bold;
	font-size: 20px;
}
.gui-container{
	position: absolute;
	z-index: 1000;
	top:0px;
	width:175px;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color:#000000;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	font-family:Helvetica, Arial, sans-serif;
	color:#ffffff;
	border-left:1px solid #555555;
	border-bottom:1px solid #555555;

	&.scene-gui{
			right:10%;
			transform: translateX(-50%);
	}
	&.song-gui{
			right:0px;
			height:100%;
	}

	&.hidden{
		display:none;
	}

	a, a:visited{
		color:#ffffff;
		&:hover{
			background-color: #ffffff;
			color:#000000;
		}
	}

	.gui-menu{
		width:100%;
	}

	.gui-item{
		display:inline-block;
		padding:5px;
		text-decoration: none;
		box-sizing: content-box;

		&.gui-item_title{
			width:100%;
			height:14px;
		}
		&.gui-item_changed{
			width:10%;
			height:14px;
			vertical-align: top;
		}
		&.gui-item_status{
			width:80%;
			height:14px;
			vertical-align: top;
		}
	}

	ul.gui-list{
		padding:0px;
		margin:0px;
		list-style-type: none;

		li{
			text-transform: none;
			font-size:10px;
			padding:5px;

			&.inactive{
				color:rgb(100, 100, 100);
				//pointer-events: none;
			}
			&.hidden{
				opacity:0.2;
				pointer-events: none;
			}
			&.sortable-chosen{
				background-color:#fff;
				color:#000;
			}
		}
	}

}
