body{
	background-color: #000;
	//background-image: url('../img/bg.jpg');
	background-size: cover;
	background-position: center center;
	font-family:sans-serif;
}
#loading, #playdiv{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	color:#fff;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
	img{
		width:30px;
		margin-bottom:10px;
	}
}
#playdiv{
	display:none;
}
#playdiv-begin{
	color:rgb(236, 42, 95);
	text-decoration: none;
	text-transform: uppercase;
}
#multidim{
	display:block;
	background-image: url('../img/mdim.png');
	background-size: contain;
	width:100px;
	height:100px;
	position: absolute;
	bottom:0px;
	left:10px;
	z-index: 1000;
}
.gui-container{
	position: absolute;
	z-index: 1000;
	top:0px;
	width:175px;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color:#000000;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	font-family:Helvetica, Arial, sans-serif;
	color:#ffffff;
	border-left:1px solid #555555;
	border-bottom:1px solid #555555;

	&.scene-gui{
		left:50%;
		transform: translateX(-50%);
		width:auto;
		//background-color: #3c3c5c;
		border:none;

		.gui-menu{
			background-color: #3c3c5c;
		}
	}
	&.song-gui{
		right:0px;
		height:100%;
		background-color: #3c3c5c;
	}

	&.hidden{
		display:none;
	}

	a, a:visited{
		color:#ffffff;
		&:hover{
			background-color: #ffffff;
			color:#000000;
		}
	}

	.gui-menu{
		width:100%;
	}

	.gui-song-title{
		text-transform: none;
		text-align: center;
		font-size: 11px;
		font-weight: normal;
		padding-top:5px;
		color:#a7a7a7;
	}

	.gui-item{
		display:inline-block;
		padding:5px 7px;
		text-decoration: none;
		box-sizing: content-box;

		&.gui-item_title{
			width:100%;
			height:14px;
		}
		&.gui-item_changed{
			width:10%;
			height:14px;
			vertical-align: top;
		}
		&.gui-item_status{
			width:80%;
			height:14px;
			vertical-align: top;
		}
	}

	ul.gui-list{
		padding:0px;
		margin:0px;
		list-style-type: none;

		li{
			text-transform: none;
			font-size:10px;
			padding:5px;

			&.inactive{
				color:rgb(100, 100, 100);
				//pointer-events: none;
			}
			&.hidden{
				opacity:0.2;
				pointer-events: none;
			}
			&.sortable-chosen{
				background-color:#fff;
				color:#000;
			}
		}
	}

}
